<header class='pt-3 pb-3 mb-4 border-bottom'>
  <h1>Programação Web II</h1>
  <nav>
    <a href='/'>Home</a>
    |
    <a href='/home2'>Home com Layout</a>
    |
    <a href='/sobre-mim'>Sobre</a>
  </nav>
</header>